*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  
  html,





  
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-image: url(img/frame6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 81px yellow;
    
  }
  
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }



header{
    width: 100%;
    background-color: gainsboro;
    height: 6%;
    
}
.nav_bar{
    display:flex;
    justify-content: center; /* Центрируем элементы */
    gap: 500px; 
    text-decoration: none;
    font-size: 17px;
    padding-top: 15px;
}
.nav_bar a{
    color:black;
}

main{
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: antiquewhite;
  width: 450px;
  height: 450px;
  border: 2px solid black;
  border-radius: 10px;

}
.mini_block{
  padding-left: 20px;
  padding-top: 10px;
}

.title{
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
}


.columns_container{
  display: grid;
  justify-content: center;
  grid-template-columns: 150px 250px;
  grid-auto-rows: minmax(250px, auto);
  gap:50px;
  padding-top: 50px;
}
.columns{
  /* border: 2px solid green; */
}

.column1{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px;
}

.mini_title{
  font-size: 20px;
  font-weight: bold;
  padding: 12px 0 12px 0;
}

.column2{
    /* border: 2px solid red; */
}
.input{
  display: block;
  background-color:antiquewhite;
  width:200px;
  border-bottom: 2px solid black;
  margin: 10px;
  font-size: 1.2em;
  padding: 10px 0 10px 0;
}

.button{
  text-align: center;
  margin-top: 50px;
}
button{
  background-color: black;
  color: white;
  width:120px;
  height: 40px;
  border-radius: 45px;
}


.icon{
  width: 15px;
  height: auto;
}


.social_icons{
  display: grid;
  grid-template-columns: 15px 15px 15px; /*Вот тут чутка не понял че сделал, но помогло */
  gap:15px;
  justify-content: center;
}