*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  
  html,





  
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-image: url(img//Frame\ 1\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }



header{
    width: 100%;
    background-color: gainsboro;
    height: 6%;
    
}
.nav_bar{
    display:flex;
    justify-content: center; /* Центрируем элементы */
    gap: 500px; 
    text-decoration: none;
    font-size: 17px;
    padding-top: 15px;
}
.nav_bar a{
    color:black;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


  /* main {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}  */ /* тут не смог разобраться, почему при написании background-color : black; выходит так что пропадает header и вся страница total black */


.container {
  width: 550px;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 14px whitesmoke;
}

.title {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  padding-top: 30px;
}

.columns_container {
  display: flex;
  flex-direction: column;
  gap:35px;
  margin-top: 10vh;
  max-width: 150px;
  padding: 15px;
}

.mini_block.container1 {
}

.mini_block.container2 {
} 

.title2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.context {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

.columns_container2{
  display:flex;
  justify-content: center;
  margin-left: 200px;
  margin-bottom: 200px;
}


.input{
  display: block;
  background-color:black;
  margin:10px;
  width:200px;
  font-size: 20px;
  padding: 10px 0 10px 0;
}

button{
  background-color: black;
  height: 30px;
  width: 70px;
  border-radius: 20px;
  color: white;
}
.button {
  text-align: center;
}
