*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  
  html,





  
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-image: url(img//Frame\ 1\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }



header{
    width: 100%;
    background-color: gainsboro;
    height: 6%;
    
}
.nav_bar{
    display:flex;
    justify-content: center; /* Центрируем элементы */
    gap: 500px; 
    text-decoration: none;
    font-size: 17px;
    padding-top: 15px;
}
.nav_bar a{
    color:black;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  background-color: beige;
  width: 600px;
  height: 500px;
  border-radius: 12px;
}



.title{
  font-size: 45px;
  text-align: center;
}
.title h1{
  font-weight:500;
}


.mini_container{
  display: flex;
  justify-content: space-around
}


.column{
  margin-top: 50px;
  width: 200px;
  height: 300px;
  /* border:2px solid green; */
}

.colum1{
  height: auto;
}
.column2 {
  padding-top: 20px;
}


.mini_text{
  margin-top: 50px;
  /* padding-top: 50px; */
  /* border: 5px solid red; */

}

.mini_text h4{
  padding-top: 10px;
  /* margin-top: 10px; */
  /* border: 2px solid blue; */
}

.context1{
  font-size: 35px;
  font-weight: bold;
}

.mini_text h1{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}


.mini_text h4 {
  font-size: 15px;
  text-align: center;
}



.input {
  display: block;
  margin-top: 30px;
  font-size: 15px;
  border-bottom: solid black 2px;
  background-color: beige;
}

.button {
  text-align: center;
  margin-left: 10px;
}

button{
  background-color: black;
  color: aliceblue;
  margin-top: 30px;
  width: 150px;
  height: 50px;
  border-radius: 8px;
}
